<html lang="en">
<head>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="css/demostyle.css">

  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<body>
 
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
<p>Date: <input type="text" id="datepicker"></p>

<div class="marco" id="marco">
    <input type="date">
</div>
 
</body>
</html>



