<!doctype html>
<html>
<title> blasta.me</title>
<head>
	<!--mobile:-->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0">
	<link rel="apple-touch-icon" href="img/ghettoblaster_256_padding.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	
	
	<!--custom css:-->

	<link rel="shortcut icon" href="img/ghettoblaster-128">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="screen and (min-width:601px)" >
	<!--<link href="css/mobile_horizontal.css" rel="stylesheet" type="text/css" media="only screen and (min-width: 481px) and (max-width: 600px)" >-->
	<link href="css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 600px)" />
	


</head>
<body>
	<form>
        <span id = "ipaddress" class = "ipaddress" float: right></span>
    </form>
    

<div align="center">
	<a href="#" class="profile_toggle" id="profile_toggle"><img class="profile_pic" src="img/icons/black_profile.png" width="25" alt="Profile"></a>
	<div><a href="#" class="reset" id="reset"><img class="reset" src="img/icons/reset2.png" width="25" alt="reset"></a></div> 
	<header> 
		<div class="header_section" id="header_section">
			<!--<img class="icon" src="img/gogb.gif" width="60" alt="Blasta.me icon">-->
			<a href="" id="logo"><img class="logo" src="img/black_logo.gif" width="150" alt="Blasta.me Logo"></a>
			<img class="sc" src="img/powered_by_sc.png" width="50" alt="powered by soundcoud">
		</div>
	</header>
	<!--<hr>-->
	

	<main>

	<div class="calendar_section" id="calendar_section">
		<!--<div id="date_heading" class="date_heading"><img class="pcontrol" src="img/icons/calendar2.png" width="25" alt="cal"></a></div>-->
		<form id="date-form">
			<input type="text" id="datepicker" placeholder="04/30/2015" style = "font-family: Courier;">
		</form>
	</div>

	<div id="search_bar">
		<form id="search-form">
			<input type="search" id="search_input" placeholder="Song or Artist" results="5"  style = "font-family: Courier;");>
		</form>
	</div>
		<div class="radio_section" id="radio_section">
			<!--<div class="speaker" id="speaker">
				<img src="img/blackstation.png" width="30" alt="Listening to:">
				<!--<img class="speaker" src="img/gray_speaker.png" width="12" alt="Listening to station:">
			</div>-->
			<div class="radio_name" id="current_radio_name">
				<a class="radio_name"></a>
			</div>
			<!--when click on station shoe previous stations and a x kill it
			<div class="close_radio" id="close_radio">
				<img src="img/icons/kill.png" width="15" alt="stop it">
			</div>-->
		</div>
		


		<!--
		<a href="javascript:play()"class="play"><img class="control" src="img/icons/roplay.png" width="50" alt="love it"></a>
		-->

		
		<div class="music_section" id ="music_section" width="600px">
			<div class="controll_section" id="controll_section">
				<!--<a href="javascript:play()" id="play" class="play"><img class="control" src="img/icons/roplay.png" width="50" alt="play"></a>-->
			</div>
			<div class="whitebox" id="whitebox">
			<p></p>
			</div>
			
			<div class="mbox" id="mbox">
				<div class="music_frame" id="music_frame">
					<a href="#" class="artwork_link" id="artwork_link">
					<div class="artwork" id="artwork">
					</div>
					</a>
					<div class="rbox" id="rbox">
						<span id="black_radiobutton">
							<div id="goradio" class="goradio">
								<a href="#" class="radio_button"><img class="radio_img" src="img/icons/radio5.png" height="30" alt="radio"></a> <!--ghettoblaster-512-orange.png, ghettoblaster-512-grey.png-->
							</div>
							<div id="add_radiobutton" class = "add_radiobutton">
								<!--<a href="#" class="addkill"><img class="addkill_img" src="img/icons/addnew.png" width="15" alt=""></a></a>-->
							</div>
						</span>	
						<span id="gray_radiobutton">
							<div id="endradio" class="endradio">
								<a href="#" class="radio_button"><img class="radio_img" src="img/icons/radio5darkgrey.png" height="30" alt="radio"></a></a>
							</div>
							<!--<div id="kill_radiobutton" class = "kill_radiobutton">
								<a href="#" class="addkill"><img id="endradio" class="addkill_img" src="img/icons/kill.png" width="18" alt=""></a></a>
							</div>-->
						</span>
					</div>

					<div class="track_user" id="track_user" align="left">
					</div>
					<div class="track_title" id="track_title" align="left">
					</div>
					
				</div>
				<div class="wave_frame_bg" id="wave_frame_bg">
						
					</div>
					<div class="waveforeground" id="waveforeground">
					</div>
					<div class="wave_frame" id="wave_frame">
						<div class="wavebackground" id="wavebackground">
						</div>
						<div class="counter" id="counter">
							0:00
						</div>
						<div class="counter2" id="counter2">
							0:00
						</div>
						<div class="container" id="container">
						</div>
						<div class="loaded" id="loaded">
						</div>
						<div class="wave" id="wave" >

						</div>
						<a class="fastforward" id="fastforward" href="#">
						<div class="grid" id="grid" >

						</div>
						</a>
				</div>
				<div id="ltsc" class="ltsc">
				<a href="https://www.soundcloud.com" id="ltsc" class="ltsc"><img class="ltsc" src="img/icons/logoblacksc.png" width="60" alt="play"></a>
				</div>
				<div class="pbox" id="pbox">
					<a href="#" id="play" class="play"><img class="pcontrol" src="img/icons/play.png" width="40" alt="play"></a>
					<a href="#" id="pause" class="pause"><img class="pause" src="img/icons/pause.png" width="40" alt="play"></a>
				</div>

			</div><!--end mbox-->
			
			<div class="like_section" id="like_section">
				<div id="like">
					<a href="#" id="love"class="love"><img class="rcontrol" src="img/icons/gthumbsup.png" width="30" alt="love it"></a>
				</div>
				<div id="liked">
					<a href="#" id="unlove" class="unlove"><img class="rcontrol" src="img/icons/thumbsup_pressed.png" width="30" alt="love it"></a>
				</div>
			</div>
			<div class="hate_section" id="hate_section">
				<div id="dislike">
					<a href="#" id="hate" class="hate" display="inline"><img class="rcontrol" src="img/icons/thumbsdown.png" width="30" alt="hate it" ></a>
				</div>
				<div id="disliked">
					<a href="#" id="unhate" class="unhate" display="inline"><img class="rcontrol" src="img/icons/thumbsdown_pressed.png" width="30" alt="hate it" ></a>
				</div>
			</div>
			<div class="echonest_section" id="echonest_section">
				<section class="graph">
				</section>
				<div><a href="http://the.echonest.com" id="en" class="en"><img class="en" src="img/icons/pbecho.png" width="70" alt="play"></a>
				</div>
				<div class="echonest_frame" id = "echonest_frame">
					<a href="#" id="echoreco" class="echoreco" display="inline"><img src="img/echonest_symbols2.png" width="235" alt="echonest" ></a>
				</div>
				<!--<div class="chart">
				  <div style="width: 40px;">4</div>
				  <div style="width: 80px;">8</div>
				  <div style="width: 150px;">15</div>
				  <div style="width: 160px;">16</div>
				  <div style="width: 230px;">23</div>
				  <div style="width: 420px;">42</div>
				</div>-->
			</div>
			



			<div class="back_section" id="back_section">
				<a href="#" id="back" class="back"><img class="scontrol" src="img/icons/wb/bback.png" width="25" alt="back"></a>
			</div>
			<div class="next_section" id="next_section">
				<a href="#" id="next" class="next"><img class="scontrol" src="img/icons/wb/bnext.png" width="25" alt="next"></a>
			</div>
		</div><!--end music section-->


		

		<div class="events_frame" id="events_frame" align="left">
			<div class="events_heading" id="events_heading"></div>
			<div class="events_results" id="events_results">
				<ul class="events_list" id="events-list" style="height:350px;overflow-y:scroll">
					<!--<li id="1" class="eres" ><a href="#"><img id="res1" class="preview_img" src="../img/soundcloud5.png" width="30" alt=""><span class="resname">Tue, 14 Apr 2015<br><span class="restitle">Encore.une.Fois Feat. Moodmusic / Opena Air Chilllounge & Indoor</span></span></a></li>-->
				</ul>
			</div>
		</div><!--end events frame-->


		<div class="lineup_frame" id="lineup_frame" align="left">
			<div class="lineup_heading" id="lineup_heading"></div>
				<ul class="lineup_list" id="lineup-list" style="height:250px;overflow-y:scroll">
					<!--<li id="d1" class="lres" ><a href="#"><span class="djname">Jimpster</span></a></li>
					<li id="d2" class="lres" ><a href="#"><span class="djname">Bonobo</span></a></li>
					<li id="d3" class="lres" ><a href="#"><span class="djname">Atari</span></a></li>-->
				</ul>
			<div class="hidevent" id="hidevent">
				<a href="#"><img class="hidevent" src="img/icons/kill10.png" width="25" alt="hide"></a>
			</div>
			
			<div class="flyer" id="flyer">
				<!--<a href="#" id="back" class="back"><img class="scontrol" src="http://www.residentadvisor.net//images/events/flyer/2015/5/de-0529-685342-475306-front.jpg" width="340" alt=""></a>-->
			</div>
		</div><!--end events frame-->

		<div class="search_frame" id="search_frame" align="left"><!--style="height:800px;overflow-y:scroll"-->
			<div class="search_heading" id="search_heading" align="left"></div>
			<div class="search_results" id="search_results">
				<ul id="saved-list" align="left">
				</ul>
			</div>
		</div><!--end search frame-->

		<div class="reco_frame" id="reco_frame" align="left" > <!--style="height:350px;overflow-y:scroll"-->
			<div class="search_heading" id="search_heading" align="left"></div>
			<div class="search_results" id="search_results">
				<ul id="reco-list" align="left">
				</ul>
			</div>
		</div><!--end search frame-->


        
		<div id="play-bar-frame" class="play-bar-frame">
			<div class="playbar_icon" id="playbar_icon">
				<a href="#" id="pb_play" class="pb_play"><img class="pb_play" src="img/icons/play.png" width="30" alt="play"></a>
				<a href="#" id="pb_pause" class="pb_pause"><img class="pb_play" src="img/icons/pause.png" width="30" alt="play"></a>
				<!--<img class="speaker" src="img/gray_speaker.png" width="12" alt="Listening to station:">-->
			</div>
			<div class="playbar_name" id="playbar_name">
				<a class="playbar"></a>
			</div>
		</div><!--end play bar-->
		
        
        <div class="profile_frame" id ="profile_frame" align="left">
				<div class="h2" id="current_heading"><u>Playing:</u></div>
					<div class="h3" id="current_track_heading">Track:</div>
						<div class="profile_element" id="current_track">
							<ul id="playing_track">
							</ul>
						</div>
					<div class="h3" id="current_radio_heading">Radio:</div>
						<div class="profile_element" id="current_radio">
							<ul id="playing_radio">
							</ul>
						</div>
				<div class="h2" id="profile_heading"><u>Preferences:</u></div>
						<div class="h3" id="loves_heading">Loves:</div>
						<div class="profile_element" id="loves">
							<ul id="saved_likes">
							</ul>
						</div>
						<div class="h3" id="hates_heading">Hates:</div>
						<div class="profile_element" id="hates">
							<ul id="saved_hates">
							</ul>
						</div>
				<div class="h2" id="history_heading">History:</div>
					<div class="h3" id="previous_radios_heading">Previous radios:</div>
						<div class="profile_element" id="radio_history">
							<ul id="saved_radios">
							</ul>
						</div>
						<div class="h3" id="search_history_heading">Search history:</div>
						<div class="profile_element" id="search_history"></div>
						<ul id="saved_searches">
						</ul>
						<div class="h3" id="track_history_heading">Track history:</div>
						<div class="profile_element" id="track_history">
						<ul id="recent_tracks">
						</ul>
					</div>
		</div><!--end profile-->
		
		
		<div data-role="footer" class="nav-bar" id="nav-bar" data-position="fixed" data-tap-toggle="false">
            <!--<div data-role="navbar" class="nav-bar" id="nav-bar"> 
            	<ul id="nav_bar_list"> 
                <li id="nav_home"><a href="" class="ui-btn-active ui-state-persist"><img src="../img/icons/home.png" width="60"></a></li> 
                <li id="nav_search"><a href=""><img src="../img/icons/search_cloud.png" width="60"></a></li> 
            	</ul> 
            </div> -->
            
        	
            <div data-role="navbar" > 
            	<ul> 
                <li id="nav_home" ><a href="#"><img src="../img/icons/home.png" height="30" ></a></li> 
                <li id="nav_search" ><a href="#"><img src="../img/icons/list4.png" height="30" padding-top="15px" ></a></li> 
                <li id="nav_events" ><a href="#"><img src="../img/icons/calendar2.png" height="30" ></a></li> 
                
            	</ul> 
            </div>
            
        </div>  <!--end footer-->


	</main>
</div>
	<!-- soundcloud api
	<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
	<script type="text/javascript" src="js/stratus.js"></script>
	-->
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/sdk.js"></script>
	
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
 	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
 	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<!--calendar-->
 	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
	<!--functionality-->
	<script type="text/javascript" src="js/progressbar.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<!-- jquery-->
	<script>
        $("#nav-bar").hide();
        //$("#ltsc").hide();
        $("#hidevent").hide();
        $("#profile_frame").hide();
		$("#pb_pause").hide();
        $("#play-bar-frame").hide();
		$("#reco_frame").hide();
		$("#radio_section").hide();
		$("#speaker").hide();
		$("#ipaddress").hide();
		$("#reset").hide();
		$("#rbox").hide();
					
		$("#gray_radiobutton").hide();
		$("#pause").hide();
		
		$("#liked").hide();
		$("#disliked").hide();
		if (screen.width<600){
			$("#nav-bar").show();
			$("#hidevent").show();
			$("#like").html('<a href="#" id="love"class="love"><img class="rcontrol" src="img/icons/gthumbsup.png" width="30" alt="love it"></a>');
			$("#dislike").html('<a href="#" id="hate"class="hate"><img class="rcontrol" src="img/icons/thumbsdown.png" width="30" alt="hate it"></a>');
			$("#liked").html('<a href="#" id="unlove" class="unlove"><img class="rcontrol" src="img/icons/thumbsup_pressed.png" width="40" alt="love it"></a>');
			$("#disliked").html('<a href="#" id="unhate" class="unhate" display="inline"><img class="rcontrol" src="img/icons/thumbsdown_pressed.png" width="40" alt="hate it" ></a>');
		}
	</script>



</body>
</html>
