<!doctype html>
<html>
<head>
	<!--mobile:-->
	<meta name="viewport" content="width=device-width, minimum-scale=0.2, maximum-scale=2.0">
	<link rel="apple-touch-icon" href="img/ghettoblaster_256_padding.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	
	<!--custom css:-->
	<link rel="shortcut icon" href="img/ghettoblaster-128">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" >
	<link href="css/mobile_horizontal.css" rel="stylesheet" type="text/css" media="only screen and (min-width: 481px) and (max-width: 600px)" >
	<link href="css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" />
	
	<!-- jquery-->
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<!-- soundcloud api
	<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
	<script type="text/javascript" src="js/stratus.js"></script>
	-->
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/sdk.js"></script>
	
	<!--functionality-->
	<script type="text/javascript" src="js/progressbar.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
</head>
<body>
	<header> 
		<div>
			<!--<img class="icon" src="img/gogb.gif" width="60" alt="Blasta.me icon">-->
			<a href="" id="logo"><img class="logo" src="img/black_logo.gif" width="200" alt="Blasta.me Logo"></a>
			<a href="" class="profile_toggle"><img class="profile_pic" src="img/icons/black_profile.png" width="40" alt="Profile"></a>
			<img class="sc" src="img/powered_by_sc.png" width="50" alt="powered by soundcoud">
		</div>
	</header>
	<!--<hr>-->
	

	<main>
	<div id="search_bar">
		<form id="search-form">
			<input type="search" id="search_input" placeholder="Song or Artist" style = "font-family: Courier;");>
		</form>
	</div>
		<div id="radio_section">
			<div class="speaker" id="speaker">
				<img src="img/blackstation.png" width="30" alt="Listening to:">
				<!--<img class="speaker" src="img/gray_speaker.png" width="12" alt="Listening to station:">-->
			</div>
			<div class="radio_name" id="current_radio_name">
				<a class="radio_name"> Digitalism </a>
			</div>
			<!--when click on station shoe previous stations and a x kill it
			<div class="close_radio" id="close_radio">
				<img src="img/icons/kill.png" width="15" alt="stop it">
			</div>
		-->
		</div>
		<script>$("#radio_section").hide();</script>
		

		<!--
		<a href="javascript:play()"class="play"><img class="control" src="img/icons/roplay.png" width="50" alt="love it"></a>
		-->


		<div class="music_section" id ="music_section" width="600px">
			<div class="controll_section" id="controll_section">
				<!--<a href="javascript:play()" id="play" class="play"><img class="control" src="img/icons/roplay.png" width="50" alt="play"></a>-->
			</div>
			<div class="mbox" id="mbox">
				<div class="music_frame" id="music_frame">
					<div class="artwork" id="artwork">
					</div>

					<div class="track_title" id="track_title">
					</div>
					<div class="wave_frame_bg" id="wave_frame_bg">
						
					</div>
					<div class="wave_frame" id="wave_frame">
						<div class="wavebackground" id="wavebackground">
						</div>
						<div class="counter" id="counter">
						</div>
						<div class="container" id="container">
						</div>
						<div class="loaded" id="loaded">
						</div>
						<div class="wave" id="wave" >

						</div>
						<a class="fastforward" id="fastforward" href="#">
						<div class="grid" id="grid" >

						</div>
						</a>
					</div>
					
				</div>
				<div class="pbox" id="pbox">
					<a href="#" id="play" class="play"><img class="pcontrol" src="img/icons/roplay.png" width="60" alt="play"></a>
					<a href="#" id="pause" class="pause"><img class="pause" src="img/icons/ropause.png" width="60" alt="play"></a>
				</div>
				<div class="rbox" id="rbox">
					<span id="black_radiobutton">
					<a href="#" class="radio_button"><img class="radio_img" src="img/icons/orange_radio.png" width="60" alt="radio"></a>
					</span>

					<span id ="gray_radiobutton">
					<a href="#" class="radio_button"><img class="radio_img" src="img/icons/graystartradio.png" width="60" alt="radio"></a></a>
					</span>
					
				</div>
				<script>$("#gray_radiobutton").hide();
						$("#pause").hide();
				</script>
			</div><!--end mbox-->
			
			<div class="like_section" id="like_section">
				<a href="#" id="love "class="love"><img class="rcontrol" src="img/icons/like.png" width="60" alt="love it"></a>
			</div>
			<div class="hate_section" id="hate_section">
				<a href="#" id="hate" class="hate" display="inline"><img class="rcontrol" src="img/icons/dislike.png" width="60" alt="hate it" ></a>
			</div>
			<div class="back_section" id="back_section">
				<a href="#" id="back" class="back"><img class="scontrol" src="img/icons/oback.png" width="60" alt="play"></a>
			</div>
			<div class="next_section" id="next_section">
				<a href="#" id="next" class="next"><img class="scontrol" src="img/icons/onext.png" width="60" alt="next"></a>
			</div>
		</div><!--end music section-->

				

		<div class="search_frame" id="search_frame">
			<div class="search_heading" id="search_heading"></div>
			<div class="search_results" id="search_results">
				<ul id="saved-list">
				</ul>
			</div>
		</div><!--end search frame-->
        
		<div id="play-bar-frame">
			<div class="playbar_icon" id="playbar_icon">
				<a href="#" id="pb_play" class="pb_play"><img  src="img/icons/roplay.png" width="30" alt="play"></a>
				<a href="#" id="pb_pause" class="pb_pause"><img  src="img/icons/ropause.png" width="30" alt="play"></a>
				<!--<img class="speaker" src="img/gray_speaker.png" width="12" alt="Listening to station:">-->
			</div>
			<div class="playbar_name" id="playbar_name">
				<a class="playbar"> Playing: Pachanga </a>
			</div>
		</div><!--end play bar-->
		<script>$("#pb_pause").hide();</script>
        <script>$("#play-bar-frame").hide();</script>

		<div data-role="footer" data-position="fixed" data-tap-toggle="false">
		<!--<div data-role="footer" class="nav-bar" data-position="fixed" data-tap-toggle="false">
            <!--<div data-role="navbar" class="nav-bar" id="nav-bar"> 
            	<ul id="nav_bar_list"> 
                <li id="nav_home"><a href="" class="ui-btn-active ui-state-persist"><img src="../img/icons/home.png" width="40"></a></li> 
                <li id="nav_search"><a href=""><img src="../img/icons/search_cloud.png" width="48"></a></li> 
                <li id="nav_radios"><a href=""><img src="../img/ghettoblaster-512.png" width="40"></a></li> 
            	</ul> 
            </div> 
        	-->
            <div class="manual-nav-bar" id="manual-nav-bar"> 
            	<ul> 
                <li id="nav_home"><a href="#"><img src="../img/icons/home.png" width="40"></a></li> 
                <li id="nav_search"><a href="#"><img src="../img/icons/search_cloud.png" width="48"></a></li> 
                <li id="nav_radios"><a href="#"><img src="../img/ghettoblaster-512.png" width="40"></a></li> 
            	</ul> 
            </div> 
        </div>  <!--end footer-->



		<div class="profile_frame" id ="profile_frame">
			<div class="h2" id="history_heading"><u>History:</u> <a href="javascript:clearHistory()">[clear all]</a></div>
					<div class="h3" id="track_history_heading">Track history:</div>
						<div class="profile_element" id="track_history"></div>
					<div class="h3" id="search_history_heading">Search history:</div>
						<div class="profile_element" id="search_history"></div>
					<div class="h3" id="previous_radios_heading">Previous radios:</div>
						<div class="profile_element" id="radio_history"></div>
			<div class="h2" id="profile_heading"><u>Profile:</u></div>
					<div class="h3" id="loves_heading">Loves:</div>
						<div class="profile_element" id="loves"></div>
					<div class="h3" id="hates_heading">Hates:</div>
						<div class="profile_element" id="hates"></div>
			<div class="h2" id="current_heading"><u>Current:</u></div>
					<div class="h3" id="current_track_heading">Track:</div>
						<div class="profile_element" id="current_track"></div>
					<div class="h3" id="current_radio_heading">Radio:</div>
						<div class="profile_element" id="current_radio"></div>
			</div>
			<script>$("#profile_frame").hide();</script>
		</div><!--end profiel-->
		
		<div class="whitebox" id="whitebox">
			<p></p>
		</div>

	</main>
</body>
</html>
