<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://connect.soundcloud.com/sdk.js"></script>
  <script src="js/mp.js"></script>
  <div class="container" style="padding:20px">
    <div class="sixteen columns">
      <input type="button" href="#" id="stream" class="big button" value="Stream It Again, Sam" onclick="playTrack()" disabled/>
      <div class="console"></div>
    </div>
  </div>
</body>
</html>