<!doctype html>
<html>
<head>
	<!--mobile:-->
	<meta name="viewport" content="width=device-width">
	<link rel="apple-touch-icon" href="img/ghettoblaster-512.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	
	<!--custom css:-->
	<link rel="shortcut icon" href="img/ghettoblaster-128">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="screen and (min-width: 481px)" >
	<link href="css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" />
	
	<!-- jquery-->
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<!-- soundcloud api
	<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
	<script type="text/javascript" src="js/stratus.js"></script>
	-->
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/sdk.js"></script>
	
	<!--functionality-->
	<script type="text/javascript" src="js/progressbar.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
</head>
<body>
	<header> 
		<div>
			<!--<img class="icon" src="img/gogb.gif" width="60" alt="Blasta.me icon">-->
			<img class="logo" src="img/black_logo.gif" width="250" alt="Blasta.me Logo">
			<a href="javascript:toggleProfile()" class="profile_toggle"><img class="profile_pic" src="img/icons/black_profile.png" width="40" alt="Profile"></a>
			<img class="sc" src="img/powered_by_sc.png" width="50" alt="powered by soundcoud">
		</div>
	</header>
	<!--<hr>-->
	

	<main>

		<form id="search-form">
			<input type="search" id="search_input" placeholder="Song or Artist" style = "font-family: Courier;");>
		</form>
		
		<div id="radio_section">
			<div class="speaker" id="speaker">
			<img src="img/graystation.png" width="30" alt="Listening to:">
			<!--<img class="speaker" src="img/gray_speaker.png" width="12" alt="Listening to station:">-->
			</div>
			<div class="radio_name" id="current_radio_name">
				<a class="radio_name"> Digitalism </a>
			</div>
		</div>
		<script>$("#radio_section").hide();</script>
		<br>

		
		<!--
		<a href="javascript:play()"class="play"><img class="control" src="img/icons/roplay.png" width="50" alt="love it"></a>
		-->


		<div class="music_section" id ="music_section" width="600px">
			<div class="controll_section" id="controll_section">
				<!--<a href="javascript:play()" id="play" class="play"><img class="control" src="img/icons/roplay.png" width="50" alt="play"></a>-->
				
				
				
			</div>
			<div class="mbox" id="mbox">
				<div class="music_frame" id="music_frame">
					<div class="artwork" id="artwork">
					</div>

					<div class="track_title" id="track_title">
					</div>
				
					<div class="wavebackground" id="wavebackground">
						<div class="container" id="container">
						</div>
						<div class="wave" id="wave" width="200px">

						</div>
					</div>
				</div>
				<div class="pbox" id="pbox">
					<a href="#" id="play" class="play"><img class="control" src="img/icons/roplay.png" width="60" alt="play"></a>
					<a href="#" id="pause" class="pause"><img class="control" src="img/icons/ropause.png" width="60" alt="play"></a>	
				</div>
				<div class="rbox" id="rbox">
					<span id="black_radiobutton">
				<a href="javascript:startRadio()" class="radio_button"><img class="radio_img" src="img/icons/orange_radio.png" width="60" alt="radio"></a>
				</span>

				<span id ="gray_radiobutton">
				<a href="javascript:stopRadio()" class="radio_button"><img class="radio_img" src="img/icons/graystartradio.png" width="60" alt="radio"></a></a>
				</span>
					
				</div>
			</div>
		</div>
		<br>
		<div class="rate_section" id="rate_section">
				<a href="javascript:love()" id="love "class="love"><img class="control" src="img/icons/green_love.png" width="60" alt="love it"></a>
				<a href="javascript:hate()" id="hate" class="hate"><img class="control" src="img/icons/dislike.png" width="60" alt="hate it"></a>
		</div>		
		<div class="skip_section" id="skip_section">
				<a href="#" id="back" class="back"><img class="control" src="img/icons/oback.png" width="60" alt="play"></a>
				<a href="#" id="next" class="next"><img class="control" src="img/icons/onext.png" width="60" alt="next"></a>
		</div>
				
				<script>$("#gray_radiobutton").hide();
						$("#pause").hide();
				</script>
		<br>

		<div class="search_frame" id="search_frame">
			<div class="search_heading" id="search_heading"></div>
			<div class="search_results" id="search_results"></div>
		</div>


		<div class="profile_frame" id ="profile_frame">
			<div class="h2" id="history_heading"><u>History:</u> <a href="javascript:clearHistory()">[clear all]</a></div>
					<div class="h3" id="track_history_heading">Track history:</div>
						<div class="profile_element" id="track_history"></div>
					<div class="h3" id="search_history_heading">Search history:</div>
						<div class="profile_element" id="search_history"></div>
					<div class="h3" id="previous_radios_heading">Previous radios:</div>
						<div class="profile_element" id="radio_history"></div>
			<div class="h2" id="profile_heading"><u>Profile:</u></div>
					<div class="h3" id="loves_heading">Loves:</div>
						<div class="profile_element" id="loves"></div>
					<div class="h3" id="hates_heading">Hates:</div>
						<div class="profile_element" id="hates"></div>
			<div class="h2" id="current_heading"><u>Current:</u></div>
					<div class="h3" id="current_track_heading">Track:</div>
						<div class="profile_element" id="current_track"></div>
					<div class="h3" id="current_radio_heading">Radio:</div>
						<div class="profile_element" id="current_radio"></div>
			</div>
			<script>$("#profile_frame").hide();</script>
		</div>
	</main>

</body>
</html>
