<!doctype html>
<html>
<title> blasta.me</title>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->
<link rel="stylesheet" href="css/datepicker.css">
<link rel="stylesheet" href="css/bootstrap.css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>

</head>
<body>
<div align="center">
	<header> 
		<div>
			<!--<img class="icon" src="img/gogb.gif" width="60" alt="Blasta.me icon">-->
			<a href="" id="logo"><img class="logo" src="img/black_logo.gif" width="200" alt="Blasta.me Logo"></a>
			<!--<a href="" class="profile_toggle"><img class="profile_pic" src="img/icons/black_profile.png" width="40" alt="Profile"></a>-->
			<img class="sc" src="img/powered_by_sc.png" width="50" alt="powered by soundcoud">
		</div>
	</header>
	<!--<hr>-->
	

	<main>

		<!-- Add an additional blue button style -->
		<!DOCTYPE html>
        <div class="container">
            <div class="hero-unit">
                <input  type="text" placeholder="click to show datepicker"  id="example1">
            </div>
        </div>
        <!-- Load jQuery and bootstrap datepicker scripts -->

         <script type="text/javascript">   
            $(document).ready(function () {
                
                $('#example1').datepicker({
                    format: "dd/mm/yyyy"
                });  


            
            });
         </script>

         <p>Date: <input type="text" id="Hey datepicker"></p>
         <script>
  				$(function() {
    			$( "#datepicker" ).datepicker();
  				});
 		 </script>
        


		<div class="profile_frame" id ="profile_frame">
				<div class="h2" id="current_heading"><u>Current:</u></div>
					<div class="h3" id="current_track_heading">Track:</div>
						<div class="profile_element" id="current_track">
							<ul id="playing_track">
							</ul>
						</div>
					<div class="h3" id="current_radio_heading">Radio:</div>
						<div class="profile_element" id="current_radio">
							<ul id="playing_radio">
							</ul>
						</div>
				<div class="h2" id="profile_heading"><u>Profile:</u></div>
						<div class="h3" id="loves_heading">Loves:</div>
						<div class="profile_element" id="loves">
							<ul id="saved_likes">
							</ul>
						</div>
						<div class="h3" id="hates_heading">Hates:</div>
						<div class="profile_element" id="hates">
							<ul id="saved_hates">
							</ul>
						</div>
				<div class="h2" id="history_heading"><u>History:</u></div>
					<div class="h3" id="previous_radios_heading">Previous radios:</div>
						<div class="profile_element" id="radio_history">
							<ul id="saved_radios">
							</ul>
						</div>
						<div class="h3" id="search_history_heading">Search history:</div>
						<div class="profile_element" id="search_history"></div>
						<ul id="saved_searches">
						</ul>
						<div class="h3" id="track_history_heading">Track history:</div>
						<div class="profile_element" id="track_history">
						<ul id="recent_tracks">
						</ul>
					</div>
		</div><!--end profile-->





	</main>

</body>
</html>


