<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>
  <link href="css/player.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <!--<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
  <script src="https://connect.soundcloud.com/sdk.js"></script>

  <script src="js/mp.js"></script>
  <div class="container" style="padding:20px">
    <div class="sixteen columns">
      <input type="button" href="#" id="stream2" class="big_button" value="p2" onclick="playTrack()" disabled/>
      <input type="button" href="#" id="stream0" class="big_button" value="" onclick="playTrack()" disabled/>
      <input type="button" href="#" id="stream1" class="big_button" value="p" onclick="playTrack()" disabled/>
      <div class="console">
	  </div>
    </div>
  </div>
</body>
</html>

