
.ui-page {
	background: white;
	padding: 5px;
	padding-left: 10px;
}

header{
	width: 310px;
}


hr {
	border-width:0;
	height: 3px;
	background-color: #FF6600;
}


.ui-input-search { 
	padding: 0 0; 
	width: 90%; 
	/*background-position: 8px 50%; 
	background-repeat: no-repeat; 
	position: relative; */
}

.radio_section{
	position: relative
	height: 30px;
}

.speaker{
	position: absolute;
	top:120px;
	left: 15px;
}


.radio_name{
	position: absolute;
	top:122px;
	left: 55px;
	color: black;
}

body{
	color: white;
	padding: 10px;
	/*font-family: "Bauhaus93";*/
	font-family: "Courier";
	font-size: 14px;
}

main{
	width: 330px;
}

.music_section{
	position: absolute;
	top: 150px;

}


.mbox{
	position: relative;
}

.pbox{
	position: absolute;
	top: 5px;
	left: 0px;
}

.rbox{
	position: absolute;
	top: 5px;
	left: 125px;
	
}

.music_frame{
	/*background: #444444;
	/*background-image: url("../img/gradient.png");*/
	width: 300px;
	height: 150px;
	position: relative;
}


.artwork{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 120px;
	height: 120px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.track_title{
	/*background: #EFEFEF;*/
	width: 165px;
	height: 80px;
	position: absolute;
	left: 130px;
	top: 60px;
}

.wavebackground{
	background: #EFEFEF;
	/*background-image: url("../img/gradient.png");*/
	width: 165px;
	height: 47px;
	position: absolute;
	top: 150px;
	left: 130px;
}

.container{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 165px;
	height: 47px;
	position: absolute;
	top: 0px
}

.wave{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 165px;
	height: 47px;
	position: absolute;
	top: 0px;

}


.waveform_url {
 /* position: fixed;
  left: 0;
  right: 0;
  z-index: 1;*/

  display: block;}

.waveform_url{
  -webkit-filter: contrast(10) invert(0);
}

.rate_section{
	position: absolute;
	top: 300px;
	padding-left: 0px;

}

.skip_section{
	position: absolute;
	top: 155px;
	left: 195px;

}

.search_frame{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 370px;
    left: 20px;
}

.search_heading{
	position: relative;
	left: 2px;
}

.profile_frame{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 176px;
    left: 0px;
    color:gray;
	font-family: "Courier";
	font-size: 10px;
}


.profile{
	color: gray;
	padding: 10px;
	font-family: "Courier";
	font-size: 10px;
}


img.radio_img{
	height: 50px;
	width: 50px;
}

img.icon{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	margin: 0;
}

img.logo{
	/*float: left;*/
	padding-left: 0px;
	padding-top: 20px;
	margin: 0;
	width:190px;
}

img.sc{
	position: absolute;
	width: 55px;
	top: 42px;
	margin: 0;
	left: 205px;
}

img.profile_pic{
	float: right;
	width: 30px;
	padding-top: 5px;
	margin: 0;
	padding-right: 12px;
}

img.speaker{
	padding-top: 0px;
	padding-top: 15px;
}


img.control{
	width: 50px;
	height: 50px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 0px;
	margin: 0;
}

img.pcontrol{
	width: 50px;
	height: 50px;
	padding-left: 5px;
	padding-right: 4px;
	padding-bottom: 10px;
	margin: 0;
}

img.scontrol{
	width: 50px;
	height: 50px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	margin: 0;
}


h1{
	font-weight: normal;
	font-size: 45px;
	color: #FF6600;
	padding-top: 5px;
	padding-left: 85px;
	margin: 0;
}

ul {
 list-style: none;
 padding-left:0;
}

li a
{
 border-bottom: 1px #CCC solid;
 color: #000;
 display: block;
 font-weight: bold;
 font-size: 12px;
 padding: 5px;
 text-decoration: none;
}

p{
	color: #FF6600;
	padding: 0px;
	font-family: "Bauhaus93"; 
}

iframe.hidden
{
	display:none
}



