
.ui-page {
	background: white;
	padding: 5px;
	padding-left: 20px;
}

header{
	width: 610px;
	padding-left: 0px;
}

hr {
	border-width:0;
	height: 3px;
	background-color: #FF6600;
}

.ui-input-search { 
	padding: 5 5; 
	width: 93%; 
	padding-left: 5px;
	height: 30px;
	font-size: 14px;
	position: relative;
	/*background-position: 8px 50%; 
	background-repeat: no-repeat; 
	position: relative; */
}

.radio_section{
	position: relative
	height: 30px;
}


.speaker{
	position: absolute;
	top:117px;
	left: 20px;
}


.radio_name{
	position: absolute;
	top:117px;
	left: 60px;
	color: gray;
}

body{
	color: gray;
	/*padding-left: 30px;
	/*font-family: "Bauhaus93";*/
	font-family: "Courier";
	font-size: 14px;
	font-color: gray;
}

main{
	width: 600px;
	padding-left: 0px;
}


.music_section{
	position: absolute;
	top: 150px;

}



.mbox{
	/*background: #EFEFEF;*/
	position: relative;
}


.pbox{
	position: absolute;
	top: 5px;
	left: 0px;
}

.rbox{
	position: absolute;
	top: 10px;
	left: 160px;
	float: right;
}


.music_frame{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 600px;
	height: 150px;
	position: absolute;
	/*border-style: solid;
	border-color: #777777;
	border-width: 1px;
	border-radius: 5px;*/
}

.artwork{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.track_title{
	/*background: #EFEFEF;*/
	width: 400;
	height: 30px;
	font-family: "Courier";
	font-size: 16px;
	padding-top: 20px;
	left: 210px;
	position: absolute;
}

.wavebackground{
	/*background: #EFEFEF;
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70px;
	position: absolute;
	top: 70px;
	left: 160px;
}

.container{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70pxx;
	position: absolute;
	top: 0px;
	left: 0px;
}

.wave{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	/*border-style: solid;
	border-color: #EFEFEF;
	border-width: 1px;
	border-radius: 5px;*/

}

.waveform_url {
 /* position: fixed;
  left: 0;
  right: 0;
  z-index: 1;*/


  display: block;}

.waveform_url{
  -webkit-filter: contrast(10) invert(0);
}


.rate_section{
	position: absolute;
	top: 320px;

}

.skip_section{
	position: absolute;
	top: 320px;
	left: 185px;

}

.search_frame{
	position: relative;
}
.search_results{
	color:gray;
	font-family: "Courier";
	font-size: 10px;
}

.profile_frame{
	color: gray;
	/*padding: 10px;*/
	font-family: "Courier";
	font-size: 10px;
}


img.radio_img{
	height: 40px;
	width: 40px;
}

img.icon{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	margin: 0;
}

img.logo{
	/*float: left;*/
	padding-left: -10px;
	padding-top: 17px;
	margin: 0;
	width: 210px;
}

img.sc{
	float: right;
	width: 50px;
	padding-top: 5px;
	margin: 0;
	padding-right: 600px;
}

img.profile_pic{
	float: right;
	width: 40px;
	padding-top: 5px;
	margin: 0;
	padding-right: 10px;
}


img.control{
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 0;
}


h1{
	font-weight: normal;
	font-size: 45px;
	color: #FF6600;
	padding-top: 5px;
	padding-left: 85px;
	margin: 0;
}


p{
	color: #FF6600;
	padding: 0px;
	font-family: "Bauhaus93"; 
}

iframe.hidden
{
	display:none;
}



