
.ui-page {
	background: white;
	padding: 5px;
	padding-left: 25px;
}

header{
	width: 610px;
	padding-left: 0px;
}


hr {
	border-width:0;
	height: 3px;
	background-color: #FF6600;
}

.ui-input-search { 
	padding: 5 5; 
	width: 93%; 
	padding-left: 5px;
	height: 35px;
	font-size: 16px;
	position: relative;
	/*background-position: 8px 50%; 
	background-repeat: no-repeat; 
	position: relative; */
}

.radio_section{
	position: relative;
	height: 30px;
}


.speaker{
	position: absolute;
	top: 103px;
	left: 30px;
}

.radio_name{
	position: absolute;
	top: 95px;
	left: 60px;
	/*border-bottom: 1px #CCC solid;*/
	color: #000;
	display: block;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
}

.close_radio{
	position: absolute;
	top:135px;
	left: 27px;
}

.playbar_section{
	position: relative;
	height: 30px;
}

.playbar_icon{
	position: absolute;
	top: 140px;
	left: 25px;
	display: block;
}

.playbar_name{
	position: absolute;
	top: 135px;
	left: 60px;
	color: #000;
	display: block;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
}


body{
	color: gray;
	/*padding-left: 30px;
	/*font-family: "Bauhaus93";*/
	font-family: "Courier";
	font-size: 14px;
	font-color: gray;
}

main{
	width: 600px;
	padding-left: 0px;
}

.whitebox{
	position: absolute;
	top: 400px;
	width:300px;
	height: 200px;
}



.music_section{
	position: absolute;
	top: 160px;

}



.mbox{
	/*background: #EFEFEF;*/
	position: relative;
}


.pbox{
	position: absolute;
	top: 10px;
	left: 0px;
}

.rbox{
	position: absolute;
	top: 10px;
	left: 160px;
	float: right;
}


.music_frame{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 600px;
	height: 150px;
	position: absolute;
	/*border-style: solid;
	border-color: #777777;
	border-width: 1px;
	border-radius: 5px;*/
}


.artwork{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.track_title{
	/*background: #EFEFEF;*/
	width: 400;
	vertical-align: middle;
	height: 30px;
	font-family: "Courier";
	font-size: 16px;
	padding-top: 20px;
	left: 210px;
	position: absolute;
}


.wave_frame{
	/*background: #EFEFEF;
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70px;
	position: absolute;
	top: 80px;
	left: 160px;
	z-index: 0; 
}


.wavebackground{
	/*background: #EFEFEF;
	/*background-image: url("../img/gradient.png");*/
	width: 438px;
	height: 66px;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1; 
}


.counter{
	background: white;
	/*background-image: url("../img/gradient.png");*/
	width: 50px;
	height: 70pxx;
	position: absolute;
	top: 25px;
	left: 10px;
	z-index: 6; 
	text-align: center;
}

.loaded{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70pxx;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2; 
}

.container{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70pxx;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3; 
}

.grid{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70pxx;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5; 
}

.wave{
	/*background: #444444;*/
	/*background-image: url("../img/gradient.png");*/
	width: 440px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4; 
	/*border-style: solid;
	border-color: #EFEFEF;
	border-width: 1px;
	border-radius: 5px;*/

}


.waveform_url{
  -webkit-filter: contrast(10) invert(0);
}


.like_section{
	position: absolute;
	top: 190px;
}

.hate_section{
	position: absolute;
	top: 190px;
	left: 80px;
}

.back_section{
	position: absolute;
	top: 190px;
	left: 410px;
}

.next_section{
	position: absolute;
	top: 190px;
	left: 490px;
}

.search_frame{
	position: absolute;
	top: 190px;
	left: 20px;
}

.search_heading{
	position: relative;
	left: 10px;
}

.search_results{
	width: 600px;
	position: relative;
	color:gray;
	font-family: "Courier";
	font-size: 10px;
}

.profile_frame{
	color: gray;
	/*padding: 10px;*/
	font-family: "Courier";
	font-size: 10px;
}


img.radio_img{
	height: 40px;
	width: 40px;
}

img.icon{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	margin: 0;
}

img.logo{
	/*float: left;*/
	padding-left: -10px;
	padding-top: 20px;
	margin: 0;
	width: 230px;
}

img.sc{
	position: absolute;
	width: 80px;
	top: 40px;
	margin: 0;
	left: 260px;
}

img.profile_pic{
	float: right;
	width: 40px;
	padding-top: 5px;
	margin: 0;
	padding-right: 5px;
}


img.control{
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin: 0;
}

img.scontrol{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 0;
}

img.rcontrol{
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 10px;
	margin: 0;
}

img.pcontrol{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin: 0;
	opacity: 1;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

img.pause{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin: 0;
	opacity: 1;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#manual-nav-bar{
width:630px;
height:60px;
}

#manual-nav-bar ul{
	list-style-type:none;
	display:inline;
	height:100%;
}

#manual-nav-bar li{
	display:block;
	float:left;
	width: 205px;
	height:100%;
	text-align:center;
}

#manual-nav-bar li.active{
	background-color: #3388CC;
}



h1{
	font-weight: normal;
	font-size: 45px;
	color: #FF6600;
	padding-top: 5px;
	padding-left: 85px;
	margin: 0;
}

ul {
 list-style: none;
 padding-left:0;
}

li a
{
 border-bottom: 1px #CCC solid;
 color: #000;
 display: block;
 font-weight: bold;
 font-size: 14px;
 padding: 10px;
 text-decoration: none;
}


p{
	color: #FF6600;
	padding: 0px;
	font-family: "Bauhaus93"; 
}

iframe.hidden
{
	display:none;
}



